* {
  box-sizing: border-box; }

#canvas {
  height: 600px;
  width: 970px; }

/*------------copy start here----------*/
.map-icons, .up, .down {
  height: 30px;
  width: 30px; }

.up {
  background: url("../images/icons/arrow-up.png") no-repeat center;
  background-size: cover; }

.down {
  background: url("../images/icons/arrow-down.png") no-repeat center;
  background-size: cover; }
